{
  "env": {
    "node": true
  },
  "extends": ["prettier","airbnb-base"],
  "plugins": ["promise", "prettier"],
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "comma-dangle": ["error", "never"],
    "prettier/prettier": ["error", {"singleQuote": true, "useTabs": true}]
  }
}